{% extends 'base.html' %}
{% block title %} {{title}} {% endblock%}
{% block content %}
<main class="container">
        <div class="row">
  <h1>Product CRUD Operations</h1>
           
  <!-- Product Table -->
  <div>
    <h2>Products</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Picture</th>
          <th>Name</th>
          <th>Category</th>
          <th>SKU</th>
          <th>Description</th>
          <th>MRP</th>
          <th>Quantity</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td><img src="{{product.thumbnail.url}}" style="width: 50px;"/></td>
          <td>{{ product.name }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.sku }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.mrp }}</td>
          <td>{{ product.quantity }}</td>
          <td>
            <a href="" class="btn btn-sm btn-warning">Edit</a>
            <a href="" class="btn btn-sm btn-danger">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
    </div>
</main>
{% endblock%}