{% extends 'base.html' %}
{% block title %} {{title}} {% endblock%}
    {% block content %}
    <main class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="mt-5">{{title}}</h1>
                <p class="lead">welcome to sohs shop</p>
                <div class="row">
                {% for product in products %}    
                    <div class="col-md-6">
                        <div class="card mb-4">
                            {% if not product.thumbnail %}
                                <img src="https://via.placeholder.com/300" class="card-img-top" alt="...">
                            {% else %}
                                <img src="{{product.thumbnail.url}}" class="card-img-top" alt="...">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.description}}</p>
                                <a href="#" class="btn btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">About Me</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Categories</h5>
                        <ul class="list-group list-group-flush">
                            {% for category in categories %}
                            <li class="list-group-item"><a href="#">{{category.name}}</a></li>
                            <li class="list-group-item"><a href="#">{{category.name}}</a></li>
                            <li class="list-group-item"><a href="#">{{category.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}