{% extends 'base.html' %}
{% block title %} {{t}} {% endblock %}

{% block content %}

<main class="container">
    <h1>ADD Categories</h1>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Slug</th>
                <th>Parent</th>
                <th>Describtion</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for a in Category %}
            <tr>
              <td>{{ a.name }}</td>
              <td>{{ a.slug }}</td>
              <td>{{ a.parent }}</td>
              <td>{{ a.describtion }}</td>
              <td>{{ a.added}}</td>
              <td>
                <a href="" class="btn btn-sm btn-warning">Edit</a>
                <a href="" class="btn btn-sm btn-danger">Delete</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>

    </table>






</div>



</main>

{% endblock %}